<div class="summary-wrapper">
    <div class="details-image">
        <img src="<%= item.img%>" alt="">
    </div>

    <section>
        <h2><%= item.card_name %></h2>
        <h3><%= item.set %></h3>
        <h3><%= item.rarity %></h3>
        <h3><%= item.condition %></h3>
        <h4><%= item.language %></h4>

        <h3>$<%= item.price %></h2>

        <h4>SHIPPING: <%= item.shipping_1 %> for $<%= item.shipping_1_price %></h4>

        <h2>TOTAL: $<%= Number(item.price) + Number(item.shipping_1_price) %></h2>


       <form action="/market/item/<%= item.id %>/buy?_method=delete" method="post">
            <button>BUY</button>
       </form>

    </section>    
</div>



<% if (item.seller_username === currentUserDetails.username) { %>

    <div>
        <form action="/market/item/<%= item.id %>/edit" method="get">
            <button>Edit</button>
        </form>
        <form action="/market/item/<%= item.id %>?_method=delete" method="post">
            <button>Delete Item Listing</button>
        </form>
    </div>

<% } %>

<p>
    card details...
</p>
