<h2>All Cards for Sale:</h2>

<form action="/market/search" method="post" class="search-bar">
    <label for="">Search a card name:</label>
    <input type="text" name="card_name">

    <button>Search</button>
</form>

<form action="/market/item/new" method="get">
    <label for="">List Item for Sale</label>
    <button>Create</button>
</form>

<table class="singles-table">
    <thead>
        <tr>
            <th><a href="/market/ordered/card_name">Card Name</a></th>
            <th>Set</th>
            <th>Rarity</th>
            <th>Condition</th>
            <th>Language</th>
            <th>Seller</th>
            <th><a href="/market/ordered/price">Price</a></th>
            <th>BUY</th>
        </tr>
    </thead>
    <tbody>
        <% for (let item of items) { %>
            <tr>
                
                <th class="bold"><%= item.card_name %></th>
                <th><%= item.set %></th>
                <th><%= item.rarity %></th>
                <th><%= item.condition %></th>
                <th><%= item.language %></th>
                <th><a href="/market/<%= item.seller_username %>"><%= item.seller_username %></a></th>
                <th class="bold">$<%= item.price %></th>
                <th>
                    <form action="/market/item/<%= item.id %>">
                        <button>item</button>
                    </form>
                </th>

            </tr>
            
        <% } %>
        
    </tbody>
</table>