<h2>All Cards for Sale:</h2>

<form action="">
    <label for="">Search a card name:</label>
    <input type="text" name="card_name">

    <button>Search</button>
</form>

<form action="/market/item/new" method="get">
    <label for="">List Item for Sale</label>
    <button>Create</button>
</form>

<table class="singles-table">
    <thead>
        <tr>
            <th>Card Name</th>
            <th>Set</th>
            <th>Rarity</th>
            <th>Condition</th>
            <th>Language</th>
            <th>Seller</th>
            <th>Price</th>
            <th>BUY</th>
        </tr>
    </thead>
    <tbody>
        <% for (let item of items) { %>
            <tr>
                <th><%= item.card_name %></th>
                <th><%= item.set %></th>
                <th><%= item.rarity %></th>
                <th><%= item.condition %></th>
                <th><%= item.language %></th>
                <th><%= item.seller_username %></th>
                <th><%= item.price %></th>
                <th>
                    <form action="/market/item/<%= item.id %>">
                        <button>item</button>
                    </form>
                </th>

            </tr>
            
        <% } %>
        
    </tbody>
</table>